
body
{
	background-color: #d9d9d9;
	
}

section > img.logo
{
	width:100%;
	height:auto;
}

nav  > label
{
	padding:0;
	margin-right:10px;
	top:0;
	float:right;
	display:block;
	height:5vh;
	width:5vh;
	background: url(menu.png) no-repeat center;
	background-size:5vw;

}

nav > input 
{
	display:none;
	right:0;
	left:0;

}

nav > input:checked ~ label
{
	top:0;
	margin-right:10px;
	float:right;
	display:block;
	height:5vh;
	width:5vh;
	background: url(menu.png) no-repeat center;
	background-size:5vw;

}


nav > input:checked ~ label ~ ul > li
{
	display:block;
	z-index:3;
	width:100%;
	padding:0;
	margin:0;
	border:0;
}

nav > ul
{

	top:0;
	right:0;
	list-style-type:none;
	width:100vw;
	white-space:nowrap;
	display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
	padding:0;
	margin:0;
	border:0;
	z-index:3;
	
}

nav > ul > li
{
	z-index:3;
	display:none;
	width:100%;
	padding:0;
	margin:0;
	border:0;
}

nav > ul > li > a
{
	display:block;
	padding:5vh;
	text-align:center;
	background-color:#cc0000;
	color:white;
	text-decoration:none;
	font-family:Courier new;
	border:0;
}


nav > ul > li > a:hover
{
	background-color:#990000;
	font-family:Courier new;
	margin:0;
}

nav > ul > li > a:visited
{
	color:white;
	text-decoration:none;
	font-family:Courier new;
	margin:0;
}


aside
{
	border-radius: 5px;
	font-family:Courier new;
	overflow:auto;	
	grid-row-start: 2;
	grid-column: 1 / 2;
	background-color:#ffffff;
	width:101%;	
	text-align:center;
	box-shadow: 0px 3px 3px 3px rgba(0,0.15,0.15,0.15);
}

section
{
	border-radius: 5px;
	font-family:Courier new;		
	grid-row-start: 2;
	grid-column: 1 / 3;
	background-color:#ffffff;
	text-align:center;
	overflow:auto;
	position:relative;
	box-shadow: 0px 3px 3px 3px rgba(0,0.15,0.15,0.15);
}

main
{
	height:auto;
	display : grid;
	grid-template-columns: 70vw 27vw;
	grid-template-rows : 13vh minmax(100px, 81vh);
	grid-gap:0vw;
}



section > div.Legenda 
{
	height:auto;
	width:17vh;
	padding:0;
	margin:0;
	position:absolute;
	left:0;
	top:0;
	background-color: rgba(255, 26, 26,0.4);
}


div.Legenda  > label
{
	display:block;
	font-size:1.5vh;
	background: url(up.png) no-repeat center;
	background-size:2vw;
}


div.Legenda > input
{
	display:none;
}

aside > input
{
	display:none;
}

div.Legenda  > ul
{
	list-style-type:none;
	padding:0;
	margin:0;
	border:0;
}

div.Legenda  > ul > li
{
	height:auto;
	padding:0;
	margin:0;
	border:0;
}


div.Legenda  > input:checked ~ ul > li
{

	display:none;
}

div.Legenda  > input:checked ~ label 
{
	display:block;
	background: url(down.png) no-repeat center;
	background-size:2vw;
}


section img
{
	height:90vh;
	width:auto;
	top:0;
	left:0;
}


aside
{
	display:none;
}

aside > label + p
{
	display: none;
	height:0vw;
	padding:0;
	margin:0;
	border:0;
}

aside > input:checked ~ label + p 
{
	display:block;
}

aside > input
{
	display:none;
}

aside > label
{
	font-weight:900;
	display:block;
}

section ul 
{
	display:grid;
	grid-template-columns:1vh 2vh;
	grid-auto-rows : auto;
	grid-column-gap: 6vh;
}

section  ul > li 
{
	margin-left:1vh;
	height:auto;
}

section  div.Legenda > ul  img 
{
	height:auto;
	width:1vh;
}

aside > div
{
	display: block;
	overflow:auto;
}


nav
{
	top:0;
	left:0;	
	position:absolute;
}

main > input
{
	z-index:3;
	position:absolute;
	left:0;
	top:50%;
	display:none;
}


main > label
{
	
	z-index:3;
	position:absolute;
	left:0;
	top:50%;
	padding:0;
	display:block;
	height:15vh;
	width:2vh;
	background-color:  rgba(89, 89, 89,0.5);

}

main > input:checked + label + nav +  aside
{
	display:block;
	z-index:2;
	position:relative;
}