
body
{
	background-color: #d9d9d9;
	
}

nav
{
	position:absolute;
	display:flex;
	background-color: #cc0000;
	position:absolute;
	width:100%;
	top:0;
	right:0;
	margin:0;
	padding:0;
}

nav > ul
{
	top:0;
	right:0;
	list-style-type:none;
	width:100vw;
	white-space:nowrap;
	display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
	padding:0;
	margin:0;
	border:0;
	
}

nav > ul > li
{
	width:20%;
	padding:0;
	margin:0;
	border:0;
}

nav > ul > li > a
{
	display:block;
	padding:5vh;
	text-align:center;
	background-color:#b30000;
	color:white;
	text-decoration:none;
	font-family:Courier new;
	border:0;
}


nav > ul > li > a:hover
{
	background-color:#990000;
	font-family:Courier new;
	margin:0;
}

nav > ul > li > a:visited
{
	color:white;
	text-decoration:none;
	font-family:Courier new;
	margin:0;
}

aside
{
	font-family:Courier new;
	overflow:auto;	
	grid-row-start: 2;
	grid-column: 1 / 2;
	background-color:#ffffff;
	text-align:center;
}

section
{
	font-family:Courier new;
	grid-row-start: 2;
	grid-column: 2 / 3;
	background-color:#ffffff;
	text-align:center;
	position:relative;
	overflow:auto;
}

main
{
	height:auto;
	display : grid;
	grid-template-columns: 24vw 74vw;
	grid-template-rows : 13vh minmax(100px, 81vh);
	grid-gap:1vw;
}

section > div
{
	height:auto;
	width:10vw;
	position:absolute;
	padding:0;
	margin:0;
	right:0;
	top:0;
	background-color: rgba(255, 26, 26,0.4);
}

div > label
{
	display:block;
	font-size:1.5vw;
	background: url(up.png) no-repeat center;
	background-size:2vw;
}


div > input
{
	display:none;
}

aside > input
{
	display:none;
}

div > ul
{
	list-style-type:none;
	padding:0;
	margin:0;
	border:0;
}

div > ul > li
{
	height:1.5vw;
	padding:0;
	margin:0;
	border:0;
}


div > input:checked ~ ul > li
{
	height:0;
	display:none;
}

div > input:checked ~ label 
{
	display:block;
	background: url(down.png) no-repeat center;
	background-size:2vw;
}


section > img
{
	height:auto;
	width:auto;
	position: absolute;
	top:0;
	left:0;
}

aside > label + p
{
	display: none;
	height:0vw;
	padding:0;
	margin:0;
	border:0;
}

aside > input:checked ~ label + p 
{
	display:block;
}

aside > input
{
	display:none;
}

aside > label
{
	font-weight:900;
	display:block;
	position:absoulte;
}

section ul 
{
	display:grid;
	grid-template-columns:1vw 2vw;
	grid-auto-rows : 4vw;
	grid-column-gap: 3vw;
}

section  ul > li 
{
	margin-left:1vh;
}

section  ul > li > img 
{
	width:1vw;
}

aside > div
{
	display: block;
	overflow:auto;
}
